<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/TemplateAdmin/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/style.css" rel="stylesheet" />
    <link href="~/Content/TemplateAdmin/style-responsive.css" rel="stylesheet" />
    <link rel="~/favicon.ico" />
    <title>@ViewBag.Title</title>


</head>
<body>
    <!-- start: Header -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="http://themifycloud.com/demos/templates/janux/index.html"><span>JANUX</span></a>

                <!-- start: Header Menu -->
                <div class="nav-no-collapse header-nav">
                    <ul class="nav pull-right">
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                <i class="icon-bell"></i>
                                <span class="badge red">
                                    7
                                </span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li class="dropdown-menu-title">
                                    <span>You have 11 notifications</span>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">1 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">7 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">8 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">16 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">36 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon yellow"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">2 items sold</span>
                                        <span class="time">1 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon red"><i class="icon-user"></i></span>
                                        <span class="message">User deleted account</span>
                                        <span class="time">2 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon red"><i class="icon-shopping-cart"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">6 hour</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon green"><i class="icon-comment-alt"></i></span>
                                        <span class="message">New comment</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="icon blue"><i class="icon-user"></i></span>
                                        <span class="message">New user registration</span>
                                        <span class="time">yesterday</span>
                                    </a>
                                </li>
                                <li class="dropdown-menu-sub-footer">
                                    <a>View all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <!-- start: Notifications Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                <i class="icon-calendar"></i>
                                <span class="badge red">
                                    5
                                </span>
                            </a>
                            <ul class="dropdown-menu tasks">
                                <li class="dropdown-menu-title">
                                    <span>You have 17 tasks in progress</span>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="header">
                                            <span class="title">iOS Development</span>
                                            <span class="percent">80%</span>
                                        </span>
                                        <div class="taskProgress progressSlim red ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="header">
                                            <span class="title">Android Development</span>
                                            <span class="percent">47%</span>
                                        </span>
                                        <div class="taskProgress progressSlim green ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="47">47<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 47%;"></div></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent">32%</span>
                                        </span>
                                        <div class="taskProgress progressSlim yellow ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="32">32<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 32%;"></div></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent">63%</span>
                                        </span>
                                        <div class="taskProgress progressSlim greenLight ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="63">63<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 63%;"></div></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="header">
                                            <span class="title">ARM Development</span>
                                            <span class="percent">80%</span>
                                        </span>
                                        <div class="taskProgress progressSlim orange ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">80<div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 80%;"></div></div>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: Notifications Dropdown -->
                        <!-- start: Message Dropdown -->
                        <li class="dropdown hidden-phone">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                <i class="icon-envelope"></i>
                                <span class="badge red">
                                    4
                                </span>
                            </a>
                            <ul class="dropdown-menu messages">
                                <li class="dropdown-menu-title">
                                    <span>You have 9 messages</span>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#refresh"><i class="icon-repeat"></i></a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="avatar"><img src="~/Content/TemplateAdmin/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                6 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="avatar"><img src="~/Content/TemplateAdmin/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                56 min
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="avatar"><img src="~/Content/TemplateAdmin/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                3 hours
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="avatar"><img src="~/Content/TemplateAdmin/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                yesterday
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                        <span class="avatar"><img src="~/Content/TemplateAdmin/avatar.jpg" alt="Avatar"></span>
                                        <span class="header">
                                            <span class="from">
                                                Dennis Ji
                                            </span>
                                            <span class="time">
                                                Jul 25, 2012
                                            </span>
                                        </span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-menu-sub-footer">View all messages</a>
                                </li>
                            </ul>
                        </li>

                        <!-- start: User Dropdown -->
                        <li class="dropdown">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="http://themifycloud.com/demos/templates/janux/submenu3.html#">
                                <i class="halflings-icon white user"></i> Dennis Ji
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-title">
                                    <span>Account Settings</span>
                                </li>
                                <li><a href="http://themifycloud.com/demos/templates/janux/submenu3.html#"><i class="halflings-icon user"></i> Profile</a></li>
                                <li><a href="http://themifycloud.com/demos/templates/janux/login.html"><i class="halflings-icon off"></i> Logout</a></li>
                            </ul>
                        </li>
                        <!-- end: User Dropdown -->
                    </ul>
                </div>
                <!-- end: Header Menu -->

            </div>
        </div>
    </div>
    <!-- start: Header -->

    <div class="container-fluid-full">
        <div class="row-fluid">

            <!-- start: Main Menu -->
            <div id="sidebar-left" class="span2">
                <div class="nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li><a href="~/Admin/Admin"><i class=" icon-bar-chart"></i><span class="hidden-tablet"> Quản lí sản phẩm</span></a></li>
                        <li><a href=""><i class="icon-envelope"></i><span class="hidden-tablet"> Messages</span></a></li>
                        <li><a href=""><i class="icon-tasks"></i><span class="hidden-tablet"> Tasks</span></a></li>
                        <li><a href=""><i class="icon-eye-open"></i><span class="hidden-tablet"> UI Features</span></a></li>
                        <li><a href=""><i class="icon-dashboard"></i><span class="hidden-tablet"> Widgets</span></a></li>
                        <li>
                            <a class="dropmenu" href=""><i class="icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span><span class="label label-important"> 3 </span></a>
                            <ul style="display: block;">
                                <li><a class="submenu" href=""><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>
                                <li><a class="submenu" href=""><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>
                                <li class="active"><a class="submenu" href=""><i class="icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>
                            </ul>
                        </li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/form.html"><i class="icon-edit"></i><span class="hidden-tablet"> Forms</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/chart.html"><i class="icon-list-alt"></i><span class="hidden-tablet"> Charts</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/typography.html"><i class="icon-font"></i><span class="hidden-tablet"> Typography</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/gallery.html"><i class="icon-picture"></i><span class="hidden-tablet"> Gallery</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/icon.html"><i class="icon-star"></i><span class="hidden-tablet"> Icons</span></a></li>
                        <li><a href="http://themifycloud.com/demos/templates/janux/login.html"><i class="icon-lock"></i><span class="hidden-tablet"> Login Page</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- end: Main Menu -->

            <noscript>
                &lt;div class="alert alert-block span10"&gt;
                &lt;h4 class="alert-heading"&gt;Warning!&lt;/h4&gt;
                &lt;p&gt;You need to have &lt;a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank"&gt;JavaScript&lt;/a&gt; enabled to use this site.&lt;/p&gt;
                &lt;/div&gt;
            </noscript>

            <!-- start: Content -->
            <div id="content" class="span10" style="min-height: 623px;">
            @RenderBody()

     

                

                

             



            </div><!--/.fluid-container-->
            <!-- end: Content -->
        </div><!--/#content.span10-->
    </div><!--/fluid-row-->

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here settings can be configured...</p>
        </div>
        <div class="modal-footer">
            <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#" class="btn" data-dismiss="modal">Close</a>
            <a href="http://themifycloud.com/demos/templates/janux/submenu3.html#" class="btn btn-primary">Save changes</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>

        <p>
            <span style="text-align:left;float:left">© 2013 <a href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/" alt="Bootstrap_Metro_Dashboard">JANUX Responsive Dashboard</a></span>

        </p>

    </footer>

    <!-- start: JavaScript-->
    <a href="~/Content/TemplateAdmin/bootstrap.min.js.download">~/Content/TemplateAdmin/bootstrap.min.js.download</a>
    <script src="~/Content/TemplateAdmin/jquery-1.9.1.min.js.download"></script>
    <script src="~/Content/TemplateAdmin/jquery-migrate-1.0.0.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery-ui-1.10.0.custom.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.ui.touch-punch.js.download"></script>

    <script src="~/Content/TemplateAdmin/modernizr.js.download"></script>

    <script src="~/Content/TemplateAdmin/bootstrap.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.cookie.js.download"></script>

    <script src="~/Content/TemplateAdmin/fullcalendar.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.dataTables.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/excanvas.js.download"></script>
    <script src="~/Content/TemplateAdmin/jquery.flot.js.download"></script>
    <script src="~/Content/TemplateAdmin/jquery.flot.pie.js.download"></script>
    <script src="~/Content/TemplateAdmin/jquery.flot.stack.js.download"></script>
    <script src="~/Content/TemplateAdmin/jquery.flot.resize.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.chosen.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.uniform.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.cleditor.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.noty.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.elfinder.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.raty.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.iphone.toggle.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.uploadify-3.1.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.gritter.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.imagesloaded.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.masonry.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.knob.modified.js.download"></script>

    <script src="~/Content/TemplateAdmin/jquery.sparkline.min.js.download"></script>

    <script src="~/Content/TemplateAdmin/counter.js.download"></script>

    <script src="~/Content/TemplateAdmin/retina.js.download"></script>

    <script src="~/Content/TemplateAdmin/custom.js.download"></script>
    <!-- end: JavaScript-->



    <script type="text/javascript">
function d_log(s) {
                var ev = document.createEvent('events');
                ev.initEvent('heartbeat_log', true, false);
                document.body.setAttribute('heartbeat_attrib', s);
                document.dispatchEvent(ev);
            };</script><div id="heartbeat_msg_wrap"></div>
</body>
</html>