<!DOCTYPE html>
<html>
<head>
    <title>Giày thể thao đẹp</title>
    <meta charset="utf-8">
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
    <div id="case">
        <div class="wrapper">
            <div class="icon"></div>
            <div class="search_form">
                <form class="search-form">
                    <input class="search_input" type="text" name="" placeholder="Nhập từ khóa bạn cần tìm">
                    <input type="submit" value="Tìm kiếm" class="btnsearch">
                </form>
            </div>
            <div class="idshow">
                <div class="account-info">
                    <img src="../images/account.png" height="40px" width="40px"><br />
                </div>
                <div class="reg">
                    <span>
                        <a href="#">Đăng nhập</a>/
                        <a href="#">Đăng kí</a>
                    </span>
                </div>
                <a href="#"><img src="../images/cart1.png" class="cart"></a>
            </div>
        </div>
        <div class="box">
            <div class="inner">
                <div class="menu">
                    <ul>
                        <li><a href="#">Trang chủ</a></li>
                        <li>
                            <a href="#">Danh mục</a>
                            <ul class="sub-menu">
                                <li><a href="">Giầy nam</a></li>
                                <li><a href="">Giầy nữ</a></li>
                                <li><a href="">Khác</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Hạ giá</a></li>
                        <li><a href="#">Chăm sóc giày</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="menu-content">
                <div>
                    <ul>
                        <li><a href="#">Giày nam</a></li>
                        <li><a href="#">Giày nữ</a></li>
                        <li><a href="#">Khác</a></li>
                    </ul>
                </div>
            </div>
            <div class="data">
                <div class="txt" style="padding-top: 20px;"> Giày nam</div>
                <div class="first-row">
                    <table class="i3col">
                        <tr class="source-table">
                            <td><a href=""><img src="../images/giaynam1.jpg"></a><p><a href="">Giầy thể thao converse 1</p></a><u style="color: red; font-weight: bold">Giá: 400.000đ</u>&nbsp;&nbsp;<a href=""><button>Mua</button></a></td>
                            <td><a href=""><img src="../images/giaynam2.jpg"></a><p><a href="">Giầy thể thao converse 2</p></a><u style="color: red; font-weight: bold">Giá: 400.000đ</u>&nbsp;&nbsp;<a href=""><button>Mua</button></td>
                            <td><a href=""><img src="../images/giaynam3.jpg"></a><p><a href="">Giầy thể thao converse 3</p></a><u style="color: red; font-weight: bold">Giá: 400.000đ</u>&nbsp;&nbsp;<a href=""><button>Mua</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="footer">
                <div class="footer-menu">
                    <ul>
                        <li class="submenu">
                            <a href="" class="menutitle"> Thông tin công ty</a>
                            <ul>
                                <li><a href=""> Thông tin công ty</a></li>
                                <li><a href=""> Hỗ trợ khách hàng</a></li>
                                <li><a href=""> Chính sách mua hàng</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="" class="menutitle">Hỗ trợ khách hàng</a>
                            <ul>
                                <li><a href=""> Hướng dẫn mua hàng online</a></li>
                                <li><a href=""> Hướng dẫn mua hàng trả góp</a></li>
                                <li><a href=""> Quy ché quản lí hoạt động</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="" class="menutitle">Chính sách mua hàng</a>
                            <ul>
                                <li><a href=""> Quy định, chính sách</a></li>
                                <li><a href=""> Chính sách bảo hành, đổi trả</a></li>
                                <li><a href=""> Chính sách hội viên</a></li>
                                <li><a href=""> Giao hàng và lắp đặt</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</body>
</html>